*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

/*-----------Global stylings----------*/
p{
    color:#01172f;
    font-size: 1.5rem;}
li{
    color:white}

a{
    text-decoration: none;
    color: white;}

h1{
    font-size: 3rem;
    color: rgb(176, 165, 136);}
h2{
    font-size: 2rem;
    color: #01172f;}
h3{
    font-size: 1.5rem;
    color: rgb(176, 165, 136);}
h4{
    font-size: 0.8rem;
    color: rgb(176, 165, 136);
}

h5 {
    color: #fff;
    font-size: .9rem;
    margin: .5rem 0;
}

body{
    display: flex;
    justify-content: center;
}
.frame{
    width: 100%;
    background: white;
}

.nav-bar{
    width: 100%;
    padding: .7rem 1rem;
    background: #002147;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}

.nav-logo{
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}
.nav-logo span{
    color: rgb(176, 165, 136);
    font-size: 2rem;
}
.nav-links{ 
    display: flex;
    gap: 2rem;
}

.nav-links a{
    font-size: 1.3rem;
    text-align: center;
    transition: 300ms;
}

.active:hover {
    text-decoration: underline;
    transition: 3000ms;
}

.menu-toggle{
    font-size: 24px;
    cursor: pointer;
    display: none;
}

.hero-section{
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    background: #ffffff;
}

.hero-image{
    width: 46%;
    max-width: 30rem;
    min-width: 22rem;
    margin-top: 4rem;
    border: 0.1rem solid #01172f;
    box-shadow: 0px 0px 10px #002147;
    background: #ffffff;
}

.hello{
    width: 46%;
    max-width: 30rem;
    min-width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#get-cv{
    width: 10rem;
    font-weight: bold;
    border-radius: 3rem;
    padding: 0.7rem 1.2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #01172f;
    box-shadow: 1px 5px 20px #002147;
    font-size: 1rem;
    transition: 300ms;
}

#get-cv:hover {
    color: #002147;
    background: rgb(176, 165, 136);
}

/*--------About styling---------*/
.about-section{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 2rem;
    gap: 1rem;
    background-color: #f4f5f6;
}

#first-child {
    width: 36rem;
    margin-bottom: 1rem;
    padding: 5rem 1rem;
}

.about-image{
    width: 19rem;
    height: 20rem;
    margin-top: 4rem;
    border-radius: 1rem;
    background: #fff;
    border: 0.1rem solid #01172f;
    box-shadow: 0px 0px 10px #002147;
}
/*--------End about styling---------*/


/*------project-section styling-------*/
.project-heading {
    width: 100%;
    padding: 1rem 1rem 0;
    background: #002147;   
}
.project-section {
    width: 100%;
    padding: 0rem 1rem 3rem;
    background: #002147;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content:space-around;
}

.project-cards {
    width: 30%;
    min-width: 20rem;
    height: 24rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-cards img {
    width: 100%;
    border-radius: 1rem;
}

.project-cards p {
    color: rgb(176, 165, 136);
    font-size: .8rem;
    text-align: justify;
}

.project-cards a {
    width: 7rem;
    height: 2rem;
    padding: .2rem 1rem;
    background: #fff;
    color: #01172f;
    border: none;
    margin-top: 1rem;
    border-radius: 1rem;
}

.project-cards a:hover {
    border: 1px solid #fff;
    background: unset;
    color: #fff;
    transition: 300ms ease-in;
}
/*------End project-section styling-------*/

.first-child-card{
    width: 100%;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 1rem;
}

.first-child-card .card{
    width: 16rem;
    /* height: 20rem; */
    padding-top: 1rem;
    border-radius: 0.5rem;
    background-color: #ffffff;
    box-shadow: 1px 5px 10px #002147;
}

#card-one{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.card .skills-card{
    width: 16rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.skill-icon{
    width: 7rem;
    height: 2rem;
    border: 0.1rem solid #002147;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
}

.skill-icon img{
    width: 1.5rem;
    height: 1.5rem;
}

#card-two{
    display: flex;
    flex-direction: column;
    align-items: center;
}
table{
    width: 15.5rem;
    border-collapse: collapse;
    border: 0.1em solid #002147;
    background: #ffffff;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

th, td{
    padding: 2px;
    text-align: left;
}

th{
    width: 40%;
    background: #002147;
    color: white;
}

td:nth-child(2){
    width: 40%;
}
td:nth-child(3){
    width: 10%;
}

td, th {
    border: 0.1rem solid #002147;
}


#second-child{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-three{
    width: 100%;
    height: auto;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 0 5rem;
}

.my-service{
    width: 92%;
}

.service{
    width: 93%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
    justify-content: space-around;
}

.my-service{
    margin-top: 1rem;
}

.service-card{
    width: 20rem;
    height: 15rem;
    margin-top: 2rem;
    background: #f4f5f6;
    border-radius: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    box-shadow: 1px 5px 10px #002147;
}

.service-card img{
    width: 4rem;
    height: 4rem;
}

.section-four{
    width: 100%;
    background: #002147;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap:2rem;
    padding: 2rem;
}

.third-image{
    width: 17.5rem;
    border-radius: 11.2rem;
    background: white;
    transition: 1000ms;
}

.third-image:hover{
    opacity: 0.7;
}

.section-four-box1{
    width: 20rem;
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.section-four-box1 p{
    color: white;
}

.section-four-box1 h2{
    color: white;
}



#mail-me{
    background: #fff;
    padding: .4rem .8rem;
    border-radius: 1.1rem;
    color: #01172f;
    font-weight: bold;
    font-size: 1.2rem;
    transition: 300ms;

}

#mail-me:hover{
    background: #01172f;
    color: #fff;
}
.footer{
    width: 100%;
    background: #01172f;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding:1rem 2rem;
    gap: 1rem;
}

.footer h4 {
    margin-right: 2rem;
}

.socials{
    display: flex;
    gap: 1rem;
}
.socials img{
    width: 2rem;
    box-shadow: 0px 0px 3px #f4f5f6;
    border-radius: 2rem;
    margin-top: 1rem;
}

#pin-app {
    position: fixed;
    right: 2rem;
    bottom: 8rem;
}

#pin-app img {
    width: 3rem;
}

/*Media Queries below starting from larger screen down to the smallest screen*/
        
/* For screens up to 1150px */

/* For screens up to 768px */
@media (max-width: 768px) {
.menu-toggle {
    display: block;
    color: white;
    font-weight: bold;
    margin: .5rem;
}

.nav-links {
    display: none;
    flex-direction: column;
    background: #002147;
    position: absolute;
    top: 4.5rem;
    right: 0rem;
    width: 100%;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.nav-links.active {
    display: flex;
}

.hero-section{
    flex-direction: column;
    align-items: center;
}

.pin-app {
    bottom: 10rem; 
}

.project-cards {
    /* min-width: 12rem; */
}

.project-section {
    flex-direction: column;
    align-items: center;
}

}

@media (max-width: 471px) {

    #pin-app {
        bottom: 12rem;   
    }
}

/* For screens up to 431px */

@media (max-width: 431px){
    p{
        font-size: 1.2rem;}  
    h1{
        font-size: 1.8rem;}
    h2{
        font-size: 1.3rem;}
    h3{
        font-size: 1.2rem;}
    h4{
        font-size: 0.7rem;
        color: rgb(176, 165, 136);}
    
    .nav-logo{
        font-size: 1.7rem;
    }
    .nav-logo span{
        font-size: 2.2rem;
    }

    .hero-section{
        gap:1rem;
        padding: 2rem 0;
    }
    .hero-image{
        width: 90%;
        min-width: unset;
        margin-top: 3.5rem;
        border-radius: 1rem;
    }
    
    .hello{
        width: 90%;
    }
    
    .skill-icon{
        display: flex;
        height: 1.7rem;        
        font-size: .6rem;
        padding-left: 1rem;
    }
    
    .skill-icon img{
        width: 1rem;
        height: 1rem;
    }

    table{
        width: 15rem;}

    th, td{
        font-size: .9rem;
    }
    
    .about-section {
        padding: 0rem;
    }

    #first-child {
        padding: 5rem 1rem 0;
    }

    .about-image{
        border-radius: 3rem;
        box-shadow: 1px 5px 10px #002147;
    }

    .socials{
        width: 2.9rem;
        height: 13rem;
        flex-direction: column;
    }

    /* .section-three{
        flex-direction: column;
    } */

    .section-four-box1{
        width: 94%;
        height: 7rem; 
        gap: 1rem; 
        margin: 1rem;
    }
    
    .section-four{
        gap:2rem;
        flex-direction: column;
    }

    .third-image{
        width: 92%;
    }

    .section-four-box2{
        width: 92%;
        justify-content: center;
        margin-top: 1rem;
    }
    
    .section-four-box2 a{
        padding: .5rem;
        font-size: 1rem;
    }

    .footer{
        height: 10rem;
        gap:1rem;
        background: #01172f;
        flex-direction: column;
    }
   
}

@media (max-width: 320px) {
    .hero-section {
        padding: 2rem 0;
    }

    .hero-image {
        min-width: 18rem;
    }

    .about-section {
        padding: 0;
    }
}
